.banner {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #395E66;
  font-family: 'Fjalla One';
  padding: 5px;
  color: white;
}


/* .wrapper {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(50px, auto);
} */


/* .siteBackground {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 20;
  height:100%;
  background: url('../img/books2.jpg') no-repeat center;
  background-size: cover; 
} */

/* .home {
  text-shadow: 3px 4px 3px rgba(0, 0, 0, 0.455),
  0px 8px 13px rgba(0,0,0,0.1),
  0px 18px 23px rgba(0,0,0,0.1);

  text-align: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(50px, auto);
  font-size: 35px;
  color: white;
  font-family: 'Montserrat', sans-serif;
} */

/*.title{
  text-align: center;
  grid-column-start: 4;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 5;
  color:white;
  
} */

 /* .WhatWeDo{
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 8;
  font-size: 25px;
  color:white;

}

.WhoWeAre {
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 5;
  grid-row-end: 8;
  font-size: 25px;
  color:white;
}

.AppDetails {
  grid-column-start: 8;
  grid-column-end: 11;
  grid-row-start: 5;
  grid-row-end: 8;
  font-size: 25px;
  color:white;
} */

/* .loginForm {
  border-radius: 5px;
  grid-column-start: 3;
  grid-column-end: 10;
  grid-row-start: 8;
  grid-row-end: 13;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.103);
  padding: 40px;
} */ 


