/* .dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-auto-rows: minmax(auto); */
    /* grid-template-rows: repeat(2, 1fr);
    grid-gap: 0px !important;
  }  */ 

 .dashboard {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: -1;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(50px, auto);
} 

.greeting {
    text-align: left;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 20px;
    padding-bottom: 0px;
}

.greeting p {
    float: left;
    color: rgb(65, 66, 61);
    text-align: left;
    font-size: 0.36em;
    font-weight: normal;

}

.header {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: -1;
    box-shadow: 5px 3px 15px rgba(0, 0, 0, 0.24);
    padding:0;
    margin: 0;
}

.profilepic {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: -1;
    padding: 20px;
    padding-bottom: 0px;
}

.overview {
    padding: 10px;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: -1;
}

.profilepic img {
    border-radius: 50%;
    height: 100px;
    float: right;
}

.katainfo {
    padding: 20px;
    grid-row-start: 4;
    grid-row-end: 12;
    grid-column-start: 2;
    grid-column-end: -1;
}

.todo {
    padding: 20px;
    padding-left: 0px;
    grid-row-start: 4;
    grid-row-end: 12;
    grid-column-start: 1;
    grid-column-end: 2;
}

.todo h3 {
    padding-bottom: 5px;
}

li {
    list-style: none;
    text-align: left;
}

.todo a {
    color: #090C02;
    text-align: left;
    font-size: 0.38em;
    padding: 2px;
}

.todo a:hover {
    color: #c31433;

}
