.home {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(50px, auto);
    font-size: 35px;
    height: 100%;
    background-color: #DDE2C6;
    color: white;
}

.info {
grid-column-start: 1;
grid-column-end: -1;
grid-row-start: 1;
grid-row-end: 3;    
padding: 10px;
font-family: 'Montserrat';
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-auto-rows: minmax(50px, auto);
height: 100%;
grid-gap: 8px;
background-color: #DDE2C6;
color: white;
}

.info > * {
color: #090C02;
padding: 20px;
font-size: 0.8em !important;
text-align: center;
}


.info-text {
color: #090C02;
text-align: center;
grid-row-start: 1;
grid-column-start: 1;
grid-column-end: -1;
}

.first {
font-size: 1.25rem !important;
grid-row-start: 2;
grid-column-start: 2;
grid-column-end: 3;
}

.second {
font-size: 1.25rem !important;
grid-row-start: 2;
grid-column-start: 3;
grid-column-end: 4;
}

.third {
font-size: 1.25rem !important;
grid-row-start: 3;
grid-column-start: 2;
grid-column-end: 3; 
}

.fourth {
font-size: 1.25rem !important;
grid-row-start: 3;
grid-column-start: 3;
grid-column-end: 4; 
}

.icon {
text-align: center;
font-size: 3.2rem;
}

.signin {
grid-row-start: 4;
grid-column-start: 2;
grid-column-end: 3; 
margin-top: 10px;

}

.signup {
grid-row-start: 4;
grid-column-start: 3;
grid-column-end: 4; 
margin-top: 10px;
}

.popup {
border-radius: 5px;
border: 1px solid #395E66;
position: relative;
grid-row-start: 2;
grid-row-end: 4;
grid-column-start: 2;
grid-column-end: 4; 
background-color: white;
}

.popup i {
    padding: 10px;
}

button {
color:#DDE2C6;
background: #0000007e;
border-radius: 5px;
border: 0.6px solid #090c02;
height: 80px;
width: 200px;
}

button:hover {
background-color: #C31433;
}

.exit > button {
    background: none;
    border: none;
    height: auto;
    width: auto;
    color: #C31433;
}

.signin-button {
height: 60px;
width: 160px;
}

.signup-button {
    height: 60px;
    width: 160px;
}
