.KataPage {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, auto);
    font-size: 45px;
    color: black;
    height:100%;
    background-color: #DDE2C6;
    background-size: cover; 
}

.title{
    text-align: center;
    grid-column-start: 4;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
    color: #c31433;
    font-weight: bold;
    letter-spacing: 2px;
    
     
  }

  .title h1 {
    font-size: 45px;
  }

  .KataList{
    background-color: rgba(0, 0, 0, 0.253);
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 14;
  }

  .KataList h4 {
      text-align: center;
  }

  .KataList li {
    font-size: 25px;
    list-style: none;
  }

  .results {
    text-align: center;
    grid-column-start: 5;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 14;
    padding-right: 10px;
    padding-left: 10px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, auto);
  }

  .resultsTitle {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 1;
    color: #c31433;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 25px;
    
  }

  .graph {
    grid-column-start: 6;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 4;
    
   }

  .results  p{
    text-align: center;
    font-size: 13px;
    display: block;
    font-weight: bold;
  }

  .results  h4{
    text-align: center;
    
  }

  .circleDivA {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    width: 450%;
  }

  .circleDivB {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 6;
    width: 450%;
   }

  .testData {

  }

  .testData h6 {
      font-size: 20px;
      text-align: left;
  }

  .testData p {
    font-size: 15px;
    text-align: left;
}

.testData i{
    float:left;
    font-size: 0.5em;
    padding-right: 15px;
    color: rgb(163, 24, 24);
}

.BoxContent {
  height: 50px;
  background-color: rgba(0, 0, 0, 0.03);

}

.BoxContent p {
  margin-top: 15px;
  text-align: left;
}


.failBox{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 14;
}

.failBox .failed{
    color: tomato;
    float:left;
    padding-right: 15px;
}

.failBox h6 {
  font-size: 15px;
  padding-bottom: 10px;
  font-weight: bold;
}

.failBox p {
  font-size: 13px;
  padding-bottom: 10px;
  font-weight: bold;
}

.passBox{
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 5;
    grid-row-end: 14; 
}

.passed{
    color: olivedrab;
    float:left;
    padding-right: 15px;
}

.passBox h6 {
  font-size: 15px;
  padding-bottom: 10px;
  font-weight: bold;
}

.passBox p {
  font-size: 13px;
  padding-bottom: 10px;
  font-weight: bold;
}